.characters-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    max-height: 70vh;
    max-width: 90vw;
    margin-left: 5vw;
    margin-top: 10vh;
    
}
.characters-container::-webkit-scrollbar{
    background-color: rgb(0, 0, 0);
    width:2px;
    border-radius: 20px

}
.characters-container::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 3px;
}
.characters-container::-webkit-scrollbar-track {
    width: 1px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px
}

span{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 270px;
    margin-top: 10px;
    img{
        width: 50px;
    }
}

.characters-list--container {

}
.nav-characters{
    display: block;
    max-width: 100vw;
    input{
        background-color: black;
        border: none;
        border-bottom: 1px solid whitesmoke;
        color: whitesmoke;
        width: 20vw;
        z-index: 1;
        margin-top: 10px;
        margin-left:10px;

    }
    button{
        margin-top: 10px;
        background-color: transparent;
        border: none;
        margin-left: 10px;
        height: 30px;
    }
}
@media (min-width: 200px) and (max-width: 1024px) {
    .characters-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow-y: scroll;
        max-height: 68vh;
        max-width: 90vw;
        margin-left: 5vw;
        margin-top: 10vh;
        
    }
}