.character-card {  
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  background-position: center;
  background-size: contain;
  text-align: center;
  width: 15vw;
  height: 40vh;
 
  
h4{
      max-width: 12vw;
           text-align: center;
           padding: 10px 0px;
          color: transparent;
          background-color: transparent;
          height: 5%;
          margin: 0;
          bottom: 0;
          object-fit: contain;
}
  &:hover {
      h4{
    width: 100%;
    max-width: 100%;
    transition: 0.2s;
    text-align: center;         
    color: rgba(255, 255, 255, 0.938);
    background-color: rgba(0, 0, 0, 0.5);

  }}
}