h4{
    color:whitesmoke;
    font-size: 18px;
    font-weight: normal;

}
h2{
    color:whitesmoke;
    font-size: 24px;
    font-weight: normal;
    padding: 20px;
}
p{
    color:whitesmoke;
    font-size: 12px;
    font-family: arial;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.house-card-link {
    display: flex;
    float: left;
    width: 100%;
    text-align: start;
    color: whitesmoke;
    a {
        margin: 20px 0px 0px 50px;
    }
}



.house-img {
    width: 25vw;
    height: 35vh;
    object-fit: contain;
    text-align: center;
    padding: 20px;

}

li {
    padding: 20px;
    width: 10vw;
    text-align: center;
}
img{
    width: 50%;
}
ul {
    padding: 0 0 20px 0;
}
.list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.house-card-detail{
    width:100vw;
}
@media (min-width: 200px) and (max-width: 1024px) {
    .list-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul {
        padding: 0 0 10px 0;
        width: 50vw;
    }
}