@import "~bootstrap/scss/bootstrap-grid.scss";
@import url(//db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones);
body {
  margin: 0;
  padding: 0;
  font-family:Game of Thrones;
    background-color: black;
  max-width:100vw;
  max-height: 100vh;
}
a{
  text-decoration: none;
  color: whitesmoke;
}
button{
  cursor: pointer;
  text-decoration: none;
  border:none;
  background-color: inherit;
}
